<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créer une table</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
    <div class="container mt-5">
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white text-center">
                <h1 class="h4">Créer une table</h1>
            </div>
            <div class="card-body">

                {% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% else %}alert-info{% endif %} alert-dismissible fade show" role="alert">
                {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
            {% endfor %}
            {% endif %}

                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_numero" class="form-label">Numéro Table</label>
                        {{ form.numero }}
                    </div>
                    <div class="mb-3">
                        <label for="id_capacite" class="form-label">Capacité</label>
                        {{ form.capacite }}
                    </div>
                    <div class="mb-3">
                        <label for="id_image" class="form-label">Image</label>
                        {{ form.image }}
                    </div>
                    <button type="submit" class="btn btn-success w-100">Créer</button>
                </form>
            </div>
        </div>
        <div class="text-center mt-3">
            <a href="{% url 'menu:liste_table' %}" class="btn btn-secondary">Retour</a>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
